[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://gorialis.github.io/pip/"
verify_ssl = false
name = "windows"

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
"discord.py" = "*"
PyYAML = "*"
"tortoise-orm[asyncpg]" = "*"
aiohttp = "*"
DiscordUtils = "*"
watchgod = "*"
requests = "*"
async-timeout = "*"
sympy = "*"
py = "*"
rich = "*"
aerich = "*"
jishaku = "*"

[requires]
python_version = "3.9"

[packages]
pydantic = {extras = [ "dotenv",]}
